# ===================== 日志配置 =====================
# 日志级别: DEBUG | INFO | WARNING | ERROR

# 控制台是否输出
LOG_CONSOLE_ENABLE=True

# 控制台日志级别
LOG_CONSOLE_LEVEL=DEBUG

# 是否输出日志文件
LOG_FILE_ENABLE=False

# 日志文件输出级别
LOG_FILE_LEVEL=DEBUG

# 日志文件保留天数, 自动删除过期日志
LOG_FILE_RETENTION="7 days"

# 日志保存目录, 默认为 <project_dir>/logs
# LOG_FILE_DIR=""

# ===================== MinerU 配置 =====================
# 官方 API 接入: https://mineru.net/apiManage/docs

# MinerU API 地址
MINERU_BASE_URL="https://mineru.net/api/v4"

# MinerU API 密钥
MINERU_API_KEY="sk-************************************************"

# 每页预估时长(秒)
MINERU_EST_PER_PAGE=0.5

# 每页最大等待时长(秒)
MINERU_TIMEOUT_PER_PAGE=5

# 轮询间隔(秒)
MINERU_POLL_INTERVAL=3

# 解压目录
# MINERU_UNZIP_DIR=""

# ===================== 视觉模型配置 =====================
# 使用视觉模型进行图片内容识别, 生成文字概括
# 当前使用: 硅基流动 + Qwen3-VL-32B-Instruct
# https://cloud.siliconflow.cn/models?target=Qwen/Qwen3-VL-32B-Instruct
VLM_BASE_URL="https://api.siliconflow.cn/v1"
# 视觉模型 API 密钥
VLM_API_KEY="sk-************************************************"
# 视觉模型名
VLM_MODEL_NAME="Qwen/Qwen3-VL-32B-Instruct"
# RPM 每分钟最多请求数
VLM_RPM=1000

# ===================== MinIO 配置 =====================
# MinIO 是一个高性能的对象存储服务, 用于存储文件
# https://docs.min.io/docs/minio-client-complete-guide.html
# https://www.minio.org.cn/docs/minio/linux/developers/python/API.html#
# MinIO 服务器地址
MINIO_ENDPOINT="127.0.0.1:9000"
# MinIO 用户名
MINIO_ACCESS_KEY="**********"
# MinIO 密码
MINIO_SECRET_KEY="**********"
# MinIO 存储桶名
MINIO_BUCKET_NAME="knowlege-hub"
# MinIO 存储图片的目录
MINIO_IMAGE_DIR="upload-images"
# 是否使用 https/TLS 加密连接？ True: 加密, 上传内容不会被窃听
# 这里避免用 https 要申请证书，就用 False 了
MINIO_SECURE=False
